@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
body {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	background-color: #ececec;
}
.small, small {
	color: #a5a5a5;
}
p {
	margin: 0px;
}
nav {
	background-color: #0f70b7;
}
.nav-link {
	opacity: 0.7 !important;
}
.nav-link:hover, .nav-link.active {
	opacity: 1 !important;
}
.card {
	border-radius: 8px;
	border: none;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.pf-img {
	border-radius: 100%;
	width: 125px;
	height: 125px;
}
.pf-icon {
	background-color: #ececec;
	border-radius: 25%;
	width: 35px;
	height: 35px;
	padding: 5px;
}
.pf-tag {
	color: #0f70b7;
	position: relative;
	top: -4px;
}
.iconDetails {
	margin-left: 2%;
	float: left;
	height: 35px;
	width: 35px;
}
.container2 {
	width: 100%;
	height: auto;
	padding: 1%;
	float: left;
}
.myteam .card-body {
	padding: 15px;
}
.myteam .card-body img {
	border-radius: 100%;
}
.section1 .card-body {
	padding: 6px;
	vertical-align: middle;
}
.section1 .card-body .info {
	background-color: red;
	float: right;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
}
.section2 {
	background-color: #28394f;
	color: #fff;
}
.tabs .nav-item .nav-link {
	color: #555;
}
.tabs .nav-item .nav-link:hover {
	color: #000;
}
.tabs .nav-item .active {
	color: #000000 !important;
	font-weight: bold;
	border-bottom: solid 4px #0f71b7;
}
.score {
	border-radius: 20px;
	float: right;
	padding: 5px 30px;
	word-wrap: normal;
	font-weight: bold;
	font-size: 130%;
}
.scoreinfo {
	border-radius: 5px;
}
.scoreinfo2 {
	text-align: center;
	padding: 5px 15px;
	border-radius: 20px;
	color: #ffffff;
	font-weight: bold;
	background-color: red;
}
.badge-danger {
	padding: 5px 15px;
	border-radius: 20px;
	position: relative;
	top: -2px;
}
.line {
	width: 100%;
	height: 1px;
	background-color: #b0b0b0;
}
.bg-green {
	background-color: #4ccb25;
}
.bg-yellow {
	background-color: #fdcd2f;
}
.bg-red {
	background-color: #f0161a;
}
.text-green {
	color: #4ccb25;
}
.text-yellow {
	color: #fdcd2f;
}
.text-red {
	color: #f0161a;
}
.pending {
	background-color: #28394f;
	color: #fff;
	border-radius: 8px;
	background-image: url(../images/info.png);
	background-repeat: no-repeat;
	background-position: top right;
	min-height: 100px;
	padding-right: 110px !important;
	font-weight: bold;
}
.profile-img-sm {
	border-radius: 100%;
	width: 35px;
	height: 35px;
}
.myteam img {
	position: relative;
	top: 3px;
}
.main-tab {
	color: #a5a5a5a;
	border-radius: 5px;
}
.main-tab.active, .main-tab:hover {
	cursor: pointer;
	color: #000;
	font-weight: bold;
	border-bottom: solid 4px #0f70b7;
}
.card-header {
	background-color: #fff;
	border-radius: 0px !important;
	-webkit-border-top-left-radius: 8px !important;
	-webkit-border-top-right-radius: 8px !important;
	-moz-border-radius-topleft: 8px !important;
	-moz-border-radius-topright: 8px !important;
	border-top-left-radius: 8px !important;
	border-top-right-radius: 8px !important;
}
.graph-left {
	background-color: #28394f;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	color: #fff;
	min-height: 400px;
}
.graph-right {
	background-color: #fff;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	min-height: 400px;
}
.table thead th {
	border: none;
	border-bottom: solid 1px #ececec;
	color: #b0b0b0 !important;
}
.table td, .table th {
	border: none;
	border-bottom: solid 1px #b0b0b0;
	font-weight: normal;
}
.table th {
	color: #ececec !important;
}
